body {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #ec6e4b;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 0;
  text-align: right;
}

h2,
h3 {
  text-align: center;
}

h3,
h4,
p {
  color: #48484a;
  font-weight: 300;
  font-size: 14px;
}

h2 {
  color: #21409b;
  font-family: "Bebas Neue", cursive;
  font-size: 42px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h3 {
  margin-top: 10px;
}

hr {
  margin: 40px 0;
  color: #21409b;
}

p {
  font-size: 12px;
}

ul {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  margin: 0 auto;
  list-style: none;
  padding: 5px 5px;
}

small {
  font-size: 10px;
}

.app-body {
  background-image: linear-gradient(to top, #21409b07 0%, #fff 100%);
  border: 1px solid #e2e4ec;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  margin-bottom: 15px;
  padding: 20px;
}

.app-frame {
  max-width: 600px;
  margin: 30px auto;
}

.date-details {
  font-size: 10px;
  font-weight: 300;
  margin-top: 7px;
}

#day-today {
  padding-left: 5px;
}

.github-link,
.footnote {
  color: #48484a;
  font-weight: 200;
  text-decoration: none;
}

.github-link:hover {
  color: #21409b;
}

#main-temperature {
  position: relative;
  left: 30px;
}

.search-bar,
.submit-bar {
  font-size: 10px;
  padding: 5px;
  border-color: #ec6e4b;
}

.submit-bar {
  background-color: #ec6e4b;
}

.submit-bar:hover {
  background-color: #21409b;
}

.temperature-details {
  padding: 20px;
}

.temperature-details img {
  display: block;
  margin: 0 auto;
}

.celsius {
  top: 2px;
  position: relative;
  left: 8px;
}

.weather-details {
  font-size: 12px;
  font-weight: 300;
}

.weather-forecast {
  color: #48484a;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

.weather-forecast-day {
  font-size: 12px;
  color: #21409b;
}

.weather-forecast-temperature {
  font-size: 10px;
}

.weather-forecast-temperature-max {
  opacity: 0.8;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
